parameters:
    level: 5
    paths:
        - src
        - bin
        - workers/php/src
    excludePaths:
        analyse:
            - bin/knossos
    tmpDir: /tmp/knossos-phpstan
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
